.navigation-bar {
  text-align: center;
  display: inline-block;
  display: block;
  
}

.link {
  margin: 5% 0 1%;
  padding: 10px;
  text-decoration: none;
  color: #f6f6f6;
  background-color: #0401a2;
  text-align: center;
}